body {
    /* background-color: coral; */
    /* background: url(./public/pineapples.jpg) no-repeat center center fixed;  */
    background: url(./public/yellow-wall.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%
}